body{
    background-color:#fcf7f2;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*font size*/
}
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    /*font size*/
}
p, .contact a{
    /*font-family: sofia-pro, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    font-size: 14px;
    /*font size*/
}
a{
    color: #ffffff;
    text-decoration: none;
}
main{
    width:90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.intro{
    font-style: italic;
    letter-spacing: 1px;
}
.iconlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
    text-align: center;
    margin-top: 35px;
}
.icon{
    width: 40%;
    }
.thumbnail img{
    width: 100%;
}
.contact{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px 20px 15px 20px;
}
.inline{
    color: #ce9366;
    text-decoration: none;
}
.row img{
    width: 50%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 35px;
}
@media (min-width: 700px) {
   main{
         width: 60%;
   }
   .icon{
    width: 20%;
    }
    .row img{
        width: 30%;
    }
    .row{
        justify-content: flex-start;
    }
    p, .contact a{
        font-size: 16px;
    }
}